.top-nav-links a {
    text-decoration: none;
    margin: 10px;
}

.logo {
    width: 50px;
}

.log-in {
    color: black;
    font-size: 18px;
    padding: 3px;
}

.log-in:hover {
    background-color: rgb(77, 74, 74);
    color: white;
    border-radius: 10px;
    padding: 3px;
}

.sign-up {
    background-color: rgb(77, 74, 74);
    color: white;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    
}

.sign-up:hover {
    background-color: white;
    color: rgb(77, 74, 74);
}



.home {
    width: auto;
}


.home .home-hero {
   display: grid;
   text-align: center;
   align-items: center;
   margin: 50px;
}


.home-body {

    background-image: url(./assets/home-image.jpg);
    height: 600px;
    background-position: top;
    background-size: cover;
    margin: 80px;
}

.inside-home {

    display: block;
    text-align: left;
    margin-top: 400px;
    width: 500px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}


.inside-home h3 {
    color: black;
    font-size: 30px;
}

.inside-home h5 {
    font-size: 15px;
}


.inside-home p {
    font-size: 13px;
}

.links a {
    text-decoration: none;
    margin-left: 8px;
    color: white;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1.5px;
    padding: 2px;
}