.top-nav-links a {
    text-decoration: none;
    margin: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: rgb(85, 84, 84);
    padding-top: 10px;
    margin: 4px;

    
}

.links-dropdown {
    display: grid;
}

.logo {
    width: 50px;
}

.log-in {
    color: black;
    font-size: 18px;
    padding: 3px;
}

.log-in:hover {
    background-color: rgb(77, 74, 74);
    color: white;
    border-radius: 10px;
    padding: 3px;
}

.sign-up {
    background-color: rgb(77, 74, 74);
    color: white;
    padding: 3px;
    font-size: 18px;
    border-radius: 10px;
    
}

.sign-up:hover {
    background-color: white;
    color: rgb(77, 74, 74);
}



.home {
    width: auto;
}

.homebackground {
    background-color: bisque;
    padding: 50px;
}


.home .home-hero {
   display: grid;
   text-align: center;
   align-items: center;
   margin: 50px;
}


.home-body {

    background-image: url(./assets/home-image.jpg);
    height: 600px;
    background-position: top;
    background-size: cover;
    margin: 80px;
}

.inside-home {

    display: block;
    text-align: left;
    margin-top: 400px;
    width: 500px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}


.inside-home h3 {
    color: black;
    font-size: 30px;
}

.inside-home h5 {
    font-size: 15px;
}


.inside-home p {
    font-size: 13px;
}

.links a {
    text-decoration: none;
    margin-left: 8px;
    color: white;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1.5px;
    padding: 2px;
}


.loading {
    text-align: center;
    font-size: 40px;
    color: gray;
    padding: 50px;
}



.blog-body {
    display: flex;
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    
}

.card-height {
    height: auto;
}

.textdiv {
    margin-top: 45px;
}

.textarea {
    height: 40px;
   
}

.cardtext {
    line-height: 30px;
}



span {
    position: relative;
}

.lbutton {

position: absolute;
margin-bottom: 10px;
padding-left: 5px;

}

.body-content {
    margin: 30px;
    padding: 10px;
    
   
}


.blogpage {
    background-color: bisque;
}



.blog-h1 {
   text-align: center;
   padding: 20px;
}


.projectcontent {
    
    align-items: center;
    display: flex;
    justify-content: center;
    
   
}

.proj {
    width: 400px;
    margin: 20px;
}

.json {
    text-align: center;
    padding: 50px;
}
.span {
    font-size: 20px;
}